# https://github.com/direnv/direnv/blob/master/man/direnv-stdlib.1.md#path_add-path
PATH_add .bin

# https://github.com/direnv/direnv/blob/master/man/direnv-stdlib.1.md#source_env_if_exists-filename
source_env_if_exists .envrc.private
